.idea/
.DS_Store
AndroidStudioProjects/.DS_Store
AndroidStudioProjects/QuicaR.zip
AndroidStudioProjects/QuicaR/.DS_Store
AndroidStudioProjects/QuicaR/app/.DS_Store
AndroidStudioProjects/QuicaR/app/src/.DS_Store
AndroidStudioProjects/QuicaR/app/src/main/.DS_Store
AndroidStudioProjects/QuicaR/app/src/main/java/.DS_Store
AndroidStudioProjects/QuicaR/app/src/main/java/com/.DS_Store
AndroidStudioProjects/QuicaR/app/src/main/java/com/example/.DS_Store
AndroidStudioProjects/QuicaR/app/src/main/res/.DS_Store
